# Исключаем файлы конфигурации, чтобы не публиковать личные данные
config.ini

# Исключаем лог-файлы
guard.log

# Исключаем все данные, включая эмбеддинги и фото нарушителей
data/

# Исключаем резервные копии
*.zip

# Исключаем системные файлы Python
__pycache__/
*.pyc

# Исключаем файлы окружения venv
.venv/
